/Modulo_3/Agenda/build/
/Modulo_3/ControleGestao/ControleGestao/build/
/Modulo_3/ControleGestao/ControleGestao/nbproject/private/
/CursoEmVideo/Aula_3/nbproject/private/
/CursoEmVideo/Aula_4/nbproject/private/
/CursoEmVideo/Aula_4/build/
/CursoEmVideo/Aula_5/nbproject/private/
/CursoEmVideo/Aula_5/build/
/CursoEmVideo/Aula_6/nbproject/private/
/CursoEmVideo/Aula_6/build/
/CursoEmVideo/Aula_test/nbproject/private/
/CursoEmVideo/Aula_test/build/
/CursoEmVideo/Aula_7/nbproject/private/
/CursoEmVideo/Aula_7/build/
/CursoEmVideo/Aula_8/nbproject/private/
/CursoEmVideo/Aula_8/build/
/CursoEmVideo/Aula_9/nbproject/private/
/CursoEmVideo/Aula_9/build/
/CursoEmVideo/Aula_10/nbproject/private/
/CursoEmVideo/Aula_10/build/
